.row{
    margin-bottom: 15px;
}
.title{
    color: #329ebb;
}
textarea.content-input{
    min-height: 250px;
    resize: vertical;
}

img{
    max-width: 100%;
}

.file-container input[type=file]{
    display: none;
}

input[type=file] + label  {
    padding: 5px 15px;
    color: #fff;
    background: darkred;
    display: inline-block;
    cursor: pointer;
}

.file-container img{
    cursor: pointer;
}
.full-width{
    width: 100%;
}
.card-header{
    margin-bottom: 20px;
}
.pull-right{
    float: right;
}

.thumb-cont{
    max-height: 300px;
    overflow: hidden;
}
input[type=text],input[type=email]{
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 6px;
}
.btn{
    margin-bottom: 10px;
}
.items-count{
    font-weight: bold;
    color: #9bb642;
}

.post-block{
    margin-bottom: 20px;
}
.post-block .thumb-cont{
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px #d4d4d4;
    margin-bottom: 5px;
    text-align: center;
}
.post-block a:not(.btn):hover {
    opacity: .7;
    display: flow-root;
}
.post-block a.btn{
    position: absolute;
    z-index: 555;
    top: 15px;
    left: 25px;
}
.post-block a.btn.btn-danger{
    left: 70px;
}
.post-block .out-of-stock{
    display: block;
    padding: 7px;
    background: lightgrey;
    text-align: center;
    border-radius: 3px;
}
.stock.in-stock {
    color: #0f834d;
}
.stock.in-stock i{
    margin-right: 5px;
}

.post-desc{
    margin-bottom: 15px;
}
input#quantity{
    width: 65px;
    padding: 0px 5px;
    border-radius: 3px;
    box-shadow: none;
    border: 1px solid #8c8c8c;
}
.section.sidebar{
    background: #a4bd52;
    color: #fff;
    padding: 20px;
}

.section.sidebar .users{
    margin: 0 10px 15px;
}

.section.sidebar .user-block{
    background: #fff;
    color: darkolivegreen;
    margin: 10px 0;
    padding: 10px;
}

.section.sidebar .user-block .name{
    font-size: 18px;
    font-weight: bold;
}

.section.sidebar .user-block .email{
    font-size: 12px;
}

.desc{
    font-size: 14px;
}

.single-product .card{
    padding: 15px;
}

.single-product .post-price{
    margin: 15px 0;
    color: darkred;
}
.single-product .product-content{
    margin-top: 20px;
    padding: 15px;
    background: #f7f3f7;
}
.single-product .card{
    padding-bottom: 0;
}
.single-product .card .row:last-child{
    margin-bottom: 0;
}


.price-input{
    width: calc(100% - 15px);
    margin-right: 5px;
    display: inline-block;
}

.user-posts{
    margin-top: 20px;
}

.cart-dropdown-item .row:last-child{
    margin-bottom: 0;
}
.cart-dropdown-item .row.cart-total{
    margin-top: 10px;
    margin-bottom: 10px;
}
.cart-dropdown-item span.cart-total{
    margin-left: 5px;
}
.view-cart{
    display: block;
    width: 100%;
    background: #2c8edc;
    color: #fff;
    padding: 5px 15px;
    text-align: center;
}

.cart-container{
    background: #fff;
    padding: 0 15px;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.04);
    box-shadow: 0 2px 4px rgba(0,0,0,.04);
}
.cart-container .card-header{
    background-color: rgb(218, 190, 129);
    color: #402727;
    font-size: 20px;
}
button.add-to-cart{
    padding: 0 10px 4px;
}
.out-of-stock{
    color: grey;
}
.btn-info{
    color: #fff;
}
.error{
    color: red;
}
.error-block{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: .25rem .75rem;
    margin-bottom: 1rem;
    border-radius: .25rem;
    margin-top: .25rem;
}
.no-padd{
    padding: 0;
}
.row.text-right{
    justify-content: flex-end;
}

.table-header{
    font-weight: bold;
}
.page-header{
    background: grey;
    color: #fff;
    padding: 15px;
    margin-bottom: 10px;
}
.page-footer{
    padding: 20px 15px;
    background: grey;
    color: #fff;
    margin-top: 50px;
}
.update-btn{
    background: #6cb2eb;
    margin-right: 10px;
    color: #fff;
}
.update-btn:hover{
    background: #52a9eb;
    color: #fff;
}
.checkout-btn{
    background-color: brown;
    color: #fff;
}
.checkout-btn:hover{
    color: #fff;
    background-color: #922222;
}

select{
    border-radius: 5px;
    padding: 6px;
    border-color: #ced4da;
}
a,a:hover{
    color: #040505;
    text-decoration: none;
}

.result-item .label{
    font-weight: bold;
    margin-right: 10px;
}
input[type=number]{
    max-width: 100%;
}
@media all and (min-width: 768px) {
    .no-padd-md{
        padding: 0;
    }
}
