.wrapper {
    display: flex;
}


#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #212529;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    padding: 10px;
}
#sidebar .sidebar-header{
}
#sidebar .sidebar-header a:first-child{
    color: #fff;
    text-decoration: none;
    display: block;
}

#sidebar ul li a {
    text-align: left;
    color: #fff;
}

#sidebar ul li.active a{
    font-weight: bold;
    color: #ffb3b3;
}

#sidebar ul li.active a:after{
    content: "\f0da";
    font-family: fontAwesome;

}

#sidebar ul li:last-child{
    margin-top: 20px;
}
#sidebar ul li a:hover{
    color: #ffd2d9;
    text-decoration: none;
}

#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

.table-header{
    font-weight: bold;
}
.py-4{
    padding: 10px;
    background: #fbfafa;
    flex: 1;
}
.py-4 .page-header{
    background: #a5aaaf;
    color: #fff;
    padding: 10px;
}
.py-4 .page-subheader{
    background: #c1c6cc;
    color: #040404;
    padding: 5px 10px;
}
.py-4 .page-subheader:nth-child(2n+1){
    background: linen;
    margin-bottom: 15px;
}
.py-4 .help-text{
    font-size: 12px;
    color: grey;
}
.no-padd-left{
    padding-left: 0;
}
.no-padd-right{
    padding-right: 0;
}
a.tab{
    display: inline-block;
    background: #a5aaaf;
    color: #fff;
    padding: 5px 10px;
    margin-top: 10px;
    font-weight: 500;
}
.no-padd{
    padding: 0;
}
input[type=file] + label  {
    padding: 10px 15px;
    color: #fff;
    background: darkred;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 0;
}

.file-container img{
    cursor: pointer;
}

.price-input{
    width: calc(100% - 15px);
    margin-right: 5px;
    display: inline-block;
}

textarea{
    min-height: 200px;
}
.row{
    margin-bottom: 10px;
}

img{
    max-width: 100%;
}

.full-width{
    width: 100%;
}
.fas:before,.fal:before,.far:before{
    font-family: fontAwesome;
    font-style: normal;
}
.trashed{
    opacity: .5;
}
.error-block{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border-radius: .25rem;
}


.order-items{
    background-color: #fff;
    padding: 15px;
}